extends layout

block content
  div
    a.btn.btn-info.mx-auto(href='/profile') Profile

  div.position-relative.ms-1
    div.position-absolute.top-0.start-50.translate-middle-x
      a.btn.btn-primary(href='/') RACE!
      div.position-absolute.top-0.start-50.translate-middle-x
        a.btn.btn-outline-danger(href='/create') Create
        div.position-absolute.top-0.start-50.translate-middle-x
          a.btn.btn-outline-warning(href='/browse') Browse
          div.position-absolute.top-0.start-50.translate-middle-x
            a.btn.btn-outline-success(href='/rankings') Rankings
