extends layout

block content
  div
    a.pref(href='/profile') Profile
  div
    a.main(href='/') RACE!
    div
      a.around(href='/browse') Browse
    div
      a.around(href='/create') Create
    div
      a.around(href='/rankings') Rankings
