body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  font-size: 45px;
}

.pref {
  font-size: 45px;
  position: fixed;
  top: 0;
  right: 0;
}

.main {
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
